<%- include('../partials/header', { title, currentPath }) %>

<div id="emp-root" data-emp-id="<%= empId %>" data-tier="<%= userTier %>">
  <div class="empty-state">Loading profile...</div>
</div>

<script src="/js/employees.js"></script>
<%- include('../partials/footer') %>
